{% extends 'base.html' %}
{% load static %}
{% block content %}
<h1> ROAD TO SCHOOL  </h1>
<p> Road to School addresses learning gaps among children in primary and middle grades and focusses on their holistic development, 
    while Road to Livelihood equips senior students with minimum basic competencies to confidently navigate life after school.
</p>
<br>
<h2>Vision of the program</h2>

<h4>Road to School (RTS) </h4>
<p>Program, a flagship program of the Hinduja Group and Learning Links Foundation is aimed to address the severe learning gaps of students from rural, remote and/or underserved areas studying in government schools in India, which are mostly understaffed and face acute resource crunch. </p>
<p>Road to School Program is aligned with the United Nations Global Sustainable Development Goals on improving the quality of education, scholastic and co-scholastic development including sports, and art education and promoting good health and wellbeing amongst underprivileged children from government schools. </p>
<p>The interventions under RTS program are multi-pronged to ensure holistic development of our children and include academic interventions in both fundamental and grade specific competencies, art education initiatives to foster creativity and critical thinking, sports activities, wellness sessions and community engagements. We believe that learning does not happen in silos and education must be looked at as a transformative agent in societal change- building trust and initiating change in the community is key to bringing in sustainable transformations in the educative ecosystem of our children.</p>

<h4>Road to Livelihood (RTL)</h4>
<p>This program currently includes four verticals:</p>
<p><strong>Career Counselling and Guidance:</strong> This vertical involves web-based psychometric tests for each student to map their interests and aptitude and subsequent career guidance based on the detailed report from the assessment by certified mentors.</p>
<p><strong>Digital Literacy: </strong> Basic digital skills are indispensable in today’s world. Recognizing this, we have introduced digital literacy classes in a phased manner across Grades IX-XII to ensure that students are confident and comfortable using technology</p>
<p><strong>Spoken English:</strong>Many brilliant students often encounter obstacles due to their lack of conversational English; we seek to bridge that gap to make sure that a lack of spoken English does not pose as a hurdle to their potential and ambitions.</p>
<p><strong>Adolescent Wellness:</strong>Adolescence is a tricky phase of life, and it requires considerable attention and guidance to make sure that young students make the best of the choices available to them. Currently, adolescent wellbeing sessions under RTL are conducted by volunteer Doctors who undertake awareness sessions for students on the topics of Substance Abuse and Menstrual Hygiene</p>

{% endblock %}
